.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*Fondo de la pagina*/

body {
  background-color: #f0eaff; 
}

/* Fondo de los contenedores de texto */

.custom-textContainer-bg {

  background-color: #c9ebf5; 
  border: #92dcda;
  
}

.custom-textContainer-bg:focus {

  background-color: #c9ebf5; 
}

/* formato de las notas */
.note-container {
  background-color: #c9ebf5; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1); 
  border-radius: 20px; 
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  border: none; 
  box-shadow: none;
}

.note-container:hover {
  transform: rotate(3deg); 
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Estilo para el boton verde */

.btn-custom-green {
  background-color: #28a745; 
  border-color: #28a745;
  color: rgb(255, 250, 250);
}

.btn-custom-green:hover {
  background-color: #218838; 
  border-color: #1e7e34;
  color: rgb(255, 250, 250);
}

/* tamaño del logo */
.img-logo {
  max-width: 100px; 
  max-height: 100px; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


